
.body{
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.main-content{
	width:100%;

	max-width:880px;
	float:left;
	margin-top:10px;
}

.main-sidebar{
	width: 200px;
	float:right;
	margin-top:10px;
}


@media screen and (max-width: 550px){ 
	.main-sidebar{
		width: 100%
	}
}  

@media screen and (max-width: 768px){ 
	.main-sidebar{
		width: 100%
	}
}  

.main-content{
	background-color: #fafafa;
}