/*@media screen and (max-width: 960px){  

}  
@media screen and (max-width: 768px){  

}  



@media screen and (max-width: 320px){  

}  

.main{
	
	display:flex;
	flex-direction: row;
}


.main-sidebar{
	width:230px;
	padding-left: 20px;
	flex:0 0 auto;
}

.main-content{
	max-width: 700px;
	flex:1 0 auto;

}





@media screen and (max-width: 550px){ 
	.main{
		flex-direction: column;
	}
	.main-sidebar{
		flex:1 0 auto;
		padding-left:0px; 

	}

}  

*/
.body{
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.main-content{
	width:100%;

	max-width:780px;
	float:left;
	margin-top:10px;
}

.main-sidebar{
	width: 200px;
	float:right;
	margin-top:10px;
}


@media screen and (max-width: 550px){ 
	.main-sidebar{
		width: 100%
	}
}  

@media screen and (max-width: 768px){ 
	.main-sidebar{
		width: 100%
	}
}  

.source{
	color:#999;
	font-size:13px;
}
.col_title{
	font-size:15px;
}

.pagination>li{
	padding: 8px;
}