{% extends 'home/index.html' %}
{% load static %}


{% block css %}
	<link rel="stylesheet" media="screen" href="{%static 'news.css'%}">
{% endblock %}

{% block content %}

	<div class=main >
		<div class="main-content">

			<div class="input-group">
			  <input type="text" class="form-control active" value="{{keyword}}" placeholder=""  id="keyword">
			  <button class="input-group-addon source" id="basic-addon2" type="submit">搜索内容</button>  
			</div>

			<form  method ="" action="" class="source">
	
			
				

				<div>
					选择分类: 
				</div>
				<div >
					<span>内容来源:</span>
					<input type="checkbox" checked>知乎话题
					<input type="checkbox">知乎专栏
					<input type="checkbox">简书
					<input type="checkbox">果壳
					
					<input type="checkbox">不显示已浏览
				</div>

				<hr>

			</form>
			<p>{{a}}</p>
			{% for i in artical %} 
			
			<div class="p_item">
				<span class="source">内容来源:{{i.sourcefrom}}<span>&nbsp;&nbsp;<span class="source">{{i.source_topic}}</span>
				<div class="col_title"><a href={{i.com_url}} target="_blank">{{i.title}}</a></div>
				
				<div class="operation">
					<i class="fa fa-thumbs-o-up"  aria-hidden="true">赞</i>
					<i class="fa fa-heart-o"  aria-hidden="true">喜欢</i>
					<i class="fa fa-comment" aria-hidden="true">评论</i>
					<i class="fa fa-comments" aria-hidden="true">所有评论</i>
				</div>

				<hr>
			</div>
			
			{% endfor %}




			
			<p class="source">一共找到{{totals}}条内容,共{{max_page}}页</p>

			
			<nav>
			  <ul class="pagination">
			    <li>
			      <a href="?p={{pdesc}}&keyword={{keyword}}" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			        <span class="sr-only">Previous</span>
			      </a>
			    </li>
			    {% for num in page_lst%}
			    <li><a href="?p={{num}}&keyword={{keyword}}">{{num}}</a></li>
			    {%endfor%}
			    <li>
			      <a href="?p={{pasc}}&keyword={{keyword}}" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			        <span class="sr-only">Next</span>
			      </a>
			    </li>
			  </ul>
			</nav>

		
			
			
			
			

		</div>

		<div class="main-sidebar">
			<div>
			<p>侧边栏</p>
			</div>
		</div>
	</div>
	

{% endblock %}


{% block js %}
	<script type="text/javascript" src="{%static 'news.js'%}"></script>
{% endblock %}