{% load static %}

<div id="navbar">
	<img src="" alt="logo">
	<span>balabala....</span>
	
	 <div class="dropdown pull-right" style="margin-top:4px;margin-right:20px;">
		      		<a class="dropdown-toggle" data-toggle="dropdown" title="" style="text-decoration:none;color:grey;font-size:16px;">
		      			<img  style="border-radius: 50%;max-width: 40px;overflow: hidden;" id="myAvatar" src="{%static 'image/default_avatar.png'%}" alt="">	
		      			<span class="username">One<span class="caret"></span>	
		      			</span>
		      			
		      		
		      		<ul class="dropdown-menu" role="menu">
		      			<!--此处可以进行菜单的设置-->
		      			<li><a href="../home/home.php">返回主页</a></li>
		      			<li class="divider" role="presentation"></li>
		      			<li><a href="../../logout.php">退出</a></li>
		      		</ul>
	</div>


	<ul>
		<li><a href="">首页</a></li>
		<li><a href="">资讯</a></li>
		<li><a href="">社交</a></li>
		<li><a href="">学堂</a></li>
		<li><a href="">活动</a></li>
		<li><a href="">商城</a></li>
	</ul>


	
	<img src="" alt="touxiang">

	

</div>