{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>第一宝贝 关注宝宝成长</title>
	<link rel="stylesheet" href="{%static 'lib/bootstrap4/bootstrap.min.css'%}">
</head>
<body>
	{% include 'home/nav.html' %}

	<div class="container">
		<h1>hello baby</h1>
		
	</div>
	<script type="text/javascript" src="{%static 'lib/bootstrap4/jquery2.2.4.min.js' %}"></script>
	<script type="text/javascript" src="{%static 'lib/bootstrap4/bootstrap.min.js' %}"></script>

</body>
</html>